/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v12/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_QOW4Ep0.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v12/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  --white: #fff;
  --black: #000;
  --dark: rgb(37, 37, 37);
  --light-dark: rgb(53, 53, 53);
  --brand-color: #ffcc33;

  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.2em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
  transition: 0.25s;
}

body {
  margin: 0;
  padding: 0 20%;

  --background-color: var(--black);
  --color: var(--white);

  background-color: var(--background-color);
  color: var(--color);
}

body.light {
  --background-color: var(--white);
  --color: var(--black);
}

input,
button {
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color);
}

a:hover {
  color: var(--brand-color);
  transition: 0.3s;
}

::selection {
  background-color: transparent;
  color: var(--brand-color);
}

/* ------------------------------------
* --------------------------
* Header
*/

header {
  padding: 1.4em 0;
  display: flex;
  align-items: center;
  border-bottom: 0.1em solid var(--dark);
}

.header__logo {
  width: 4em;
  height: 4em;
  fill: var(--light-dark);
}

.header__my-info {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
}

.header__link-title {
  display: inline-block;
  margin: 0.2em 0;
}

.header__social-link {
  text-decoration: underline;
  color: var(--light-dark);
}

/* ------------------------------------
* --------------------------
* Main
*/

main {
  padding: 3em 0;
  font-size: 1.2em;
}

/* -----------
* tabs
*/

.main__tab-list {
  display: flex;
  align-items: center;
}

/* -----------
* sections
*/

section.hidden {
  display: none;
}

/* -----------
* hints
*/

.tooltip {
  display: none;
}

/* ------------------------------------
* --------------------------
* Footer
*/

footer {
  padding: 1.4em 0;
  border-top: 0.1em solid var(--dark);
}

.footer__quote {
  margin: 0;
  color: var(--dark);
}
