/* cyrillic */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v13/HI_SiYsKILxRpg3hIP6sJ7fM7PqlOevWjMY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v13/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevW.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  --white: #fff;
  --black: #000;
  --dark: rgb(37, 37, 37);
  --light-dark: rgb(53, 53, 53);
  --background-color: var(--black);
  --color: var(--white);

  box-sizing: border-box;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1.2em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
  transition: 0.25s;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--background-color);
  color: var(--color);
  color: var(--light-dark);
}

input,
label,
button {
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color);
}

a:hover {
  transition: 0.3s;
}

::selection {
  background-color: transparent;
  color: rgba(26, 118, 255, 0.644);
}

main {
  font-size: 1.4em;
}

.about {
  padding: 0.2rem;
  border-radius: 0.4em;
  background: linear-gradient(-45deg, rgb(140, 0, 255), rgb(0, 132, 255));
}

.about__gradient-backgrount {
  padding: 2rem;
  border-radius: 0.4em;
  background-color: var(--background-color);
}

.about__head-note {
  padding: 2em 0;
  display: flex;
  align-items: center;
}

.head-note__logo {
  width: 3.6em;
  height: 3.6em;
  fill: var(--light-dark);
}

.head-note__title {
  margin: 0;
  margin-left: 0.6em;
}

.about__skills ul {
  margin: 0;
  padding: 0;
}
